<%- include('header') -%>

<section>
  <h2>Efstu liðin í Skotdeildinni</h2>
  <%- include('standings') -%>
  <p><a href="/stada">Skoða stöðuna</a></p>
</section>

<section>
  <h2>Seinustu leikir í Skotdeildinni</h2>
  <%- include('games') -%>
  <p><a href="/leikir">Skoða alla leiki</a></p>
</section>

<section>
  <h2>Umsjónarsíða</h2>
  <% if (locals.loggedIn) { %>
    <p><a href="/admin">Fara á umsjónarsíðu</a></p>
  <% } else { %>
    <p><a href="/admin">Innskráningar krafist</a> til að eiga við gögn.</p>
  <% } %>
</section>

<%- include('footer') -%>
