<%- include('header') -%>

<form method="post" action="/login" autocomplete="off" class="form">
  <div class="field">
    <label>Notendanafn:</label>
    <input type="text" name="username">
  </div>
  <div class="field">
    <label>Lykilorð:</label>
    <input type="password" name="password">
  </div>
  <button class="button">Innskrá</button>
</form>

<% if (locals.message) { %>
  <p><%= locals.message %></p>
<% } %>

<%- include('footer') -%>
