
<% if (!locals.standings) { %>
  <p>Engin staða skráð.</p>
<% } else { %>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Lið</th>
        <th>Stig</th>
      </tr>
    </thead>
    <tbody>
      <% for (const standing of locals.standings) { %>
        <tr>
          <td><%= standing.position %></td>
          <td><%= standing.name %></td>
          <td><%= standing.points %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } %>
